body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin-top: 0;
    margin-bottom: 2%;
}
.main {
    position: relative;
    top: 300px;
    text-align: center;
}

a:link{
    color: #1F1F1F;
    text-decoration: none;
  }
  a:visited{
    color:#1F1F1F;
    text-decoration: none;
  }
  a:hover{
    color:#1F1F1F;
    text-decoration: underline;

  }
  a:focus{
    color:#1F1F1F;
  }
  a:active{
    color:#1F1F1F;
    text-decoration: none;
  }

.upperright-links {
    color: #1F1F1F;
    font-size: 13px;
    font-weight: 100;
    position: fixed;
    top: 20px;
    right: 20px;
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
}

#first_upper_link {
    margin-right: 12px;
}

.logo {
    max-height:100%;
    max-width:100%;
    padding-bottom: 1%;
    opacity: 1;
}

.container {
    display: display-box;
    width: 100%;
    text-align: center;
    vertical-align: center;
  }

.image-container {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button-search {
    position: relative;
    padding: 16px;
    margin: 11px 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fA;
    color: #3c4043;
    border: 0px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;

}

.button-search:hover {
    position: relative;
    padding: 16px;
    margin: 11px 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px rgb(199, 199, 199);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text] {
    position: relative;
    width: 550px;
    padding: 12px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: #fff;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

input[type=text]:hover {
    width: 551px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 0px 5px rgb(223, 222, 222);
}

input[type=text]:focus {
    width: 552px;
    padding: 12px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: -1px 1px 3px rgb(223, 222, 222);
}